{% extends "base.html" %}

{% block title %}Fastside Cached Redirect{% endblock %}

{% block head %}
<script>
  const instances = {{ instances_json }};
  {% match select_method %}
  {% when SelectMethod::Random %}
  console.log("Random selector")
  let randomIndex = Math.floor(Math.random() * instances.length);
  let entry = instances[randomIndex]?.url;
  {% when SelectMethod::LowPing %}
  console.log("LowPing selector")
  let entry = instances[0]?.url;
  {% when SelectMethod::Weighted %}
  console.log("Weighted selector")
  const totalWeight = instances.reduce((sum, instance) => sum + instance.weight, 0);
  let targetWeight = Math.random() * totalWeight;
  let entry;
  for (const instance of instances) {
    if (targetWeight < instance.weight) {
      entry = instance.url;
      break;
    }
    targetWeight -= instance.weight;
  }
  entry ??= instances.at(-1)?.url;
  {% else %}
  console.log("Unknown selector. Using first instance.")
  let entry = instances[0]?.url;
  {% endmatch %}
  if (entry == undefined) {
    alert("No instances available");
  } else {
    let hash = window.location.hash;
    let data = hash.substring(1);
    if (data.startsWith("/")) {
      data = data.substring(1);
    }
    window.location.href = entry + data;
  }
</script>
{% endblock %}

{% block content %}
<h1>Redirecting...</h1>
<h3>Online instances</h3>
<ul>
  <script>
    for (const instance of instances) {
      const item = document.createElement("li");
      const link = document.createElement("a");
      link.href = instance.url;
      link.textContent = instance.url;
      item.appendChild(link);
      document.currentScript.parentElement.insertBefore(item, document.currentScript);
    }
  </script>
</ul>
{% endblock %}
