{% extends "base.html" %}

{% block content %}
<h1>Fastside [<a href="https://github.com/cofob/fastside">GitHub</a>] [<a href="/configure">Configure</a>]</h1>
<hr>
<h3>Last synced {{ time }}{% if is_reloading %} (config is reloading){% endif %}</h3>
<div>
  <a
    href="https://github.com/cofob/fastside/issues/new?title=[service%20add%20request]%20SERVICE.NAME&body=Hello!%20Please%20add%20service%20SERVICE.NAME.%20List%20of%20available%20instances%20here%20-%3E%20.%20Service%20source%20code%20-%3E%20.">Add
    service here.</a>
  <ul>
    {% let sorted_crawled_services = crawled_services|sort_crawled_services %}
    {% for (name, crawled_service) in sorted_crawled_services %}
    {% let service = services[name] %}
    <li><a href="/{{ crawled_service.name }}/" id="{{ crawled_service.name }}">{{ crawled_service.name }}</a>
      Aliases: [{% for alias in service.aliases %}{% if loop.index != 1 %}, {% endif %}<code>{{ alias }}</code>{%
      endfor %}].
      {% if service.source_link.is_some() %}
      {% let source_link = service.source_link.as_ref().unwrap().as_str() %}
      <a href="{{ source_link }}" target="_blank">Source code</a>.
      {% endif %}
      {% if service.fallback.is_some() %}
      {% let fallback = service.fallback.as_ref().unwrap() %}
      Fallback: <code>{{ fallback }}</code>
      {% endif %}
      {% if service.deprecated_message.is_some() %}
      {% let deprecated_message = service.deprecated_message.as_ref().unwrap() %}
      <span style="color: red;">Deprecated:</span> {{ deprecated_message }}
      {% endif %}
    </li>
    <ul>
      {% let instances = crawled_service.instances|sort_crawled_instances %}
      {% for instance in instances %}
      <li>
        <a href="{{ instance.url }}">{{ instance.url }}</a> <span>Status:
          <code>{{ instance.status }}</code></span> <span>Tags: {% for tag in instance.tags %}{% if loop.index != 1 %},
          {% endif %}
          <code>{{ tag }}</code>{% endfor %}</span>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </ul>
</div>
{% endblock %}
