{% extends "base.html" %}

{% block title %}Fastside Cached Redirect{% endblock %}

{% block head %}
<script>
  let instances = [{% for instance in urls %}"{{ instance }}", {% endfor %}];
  let randomIndex = Math.floor(Math.random() * instances.length);
  let randomEntry = instances[randomIndex];
  let hash = window.location.hash;
  let data = hash.substring(1);
  if (data.startsWith("/")) {
    data = data.substring(1);
  }
  window.location.href = randomEntry + data;
</script>
{% endblock %}

{% block content %}
<h1>Redirecting...</h1>
<h3>Online instances</h3>
<ul>
  {% for instance in urls %}<li><a href="{{ instance }}">{{ instance }}</a></li>{% endfor %}
</ul>
{% endblock %}